.small-image {
  width:20%;
  float:left;
}
.screenshots {
  width:85%;
  padding-bottom: 50px;
}
.screenshot-section {
  text-align: center;
}
.ss-title {
  font-size: 80px;
  text-align: center;
  padding-top: 50px;
  clear: both;
}

li {
  display: inline;
  margin-left: 100px;
  margin-right: 100px;
}
ul {
  text-align: center;
}
.page-title {
  font-size: 92px;
  text-align: center;
}
a {
  color: white;
  text-decoration: none;
  font-size: 22px;
  border: solid 2px black;
  padding: 0 10px;
}
body {  
  background: -webkit-linear-gradient(90deg, #52c234 10%, #061700 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #52c234 10%, #061700 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #52c234 10%, #061700 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #52c234 10%, #061700 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #52c234 10%, #061700 90%); /* W3C */
                
}        


